<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sistema de reservas de aulas y carritos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script>
        function reservaCarritoTabletsActualizada()
        {
            window.alert("Se ha actualizado la reserva del carrito de tablets");
        }
    </script>
</head>
<body>
    <h3 class="text-center pt-2 pb-2 bg-info text-wrap">Actualizar la reserva del carrito de tablets</h3>
    <form th:action="@{/reservas/actualizar_reserva_carrito_tablets/{id}(id=${reserva_carrito_tablets.id})}" th:object="${reserva_carrito_tablets}" method="post">
        <div class="row g-3 align-items-center">
            <input type="hidden" id="id" th:field="*{id}">
            <div class="col-auto">
                <label for="id_profesor" class="col-form-label">ID del profesor</label>
            </div>
            <div class="col-auto">
                <input type="number" id="id_profesor" class="form-control" th:field="*{idProfesor}">
            </div>
        </div>
        <br>
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label for="id_carrito_tablets" class="col-form-label">ID del carrito de tablets</label>
            </div>
            <div class="col-auto">
                <input type="number" id="id_carrito_tablets" class="form-control" th:field="*{idCarritoTablets}">
            </div>
        </div>
        <br>
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label for="ubicacion_prestamo" class="col-form-label">Ubicaci&oacute;n del pr&eacute;stamo</label>
            </div>
            <div class="col-auto">
                <input type="text" id="ubicacion_prestamo" class="form-control" th:field="*{ubicacionPrestamo}">
            </div>
        </div>
        <br>
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label for="fecha" class="col-form-label">Fecha de la reserva</label>
            </div>
            <div class="col-auto">
                <input type="date" id="fecha" class="form-control" value="2023-02-01" th:field="*{date}">
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary" onclick="reservaCarritoTabletsActualizada()">Actualizar reserva</button>
    </form>
    <br>
    <a th:href="@{/reservas/}" class="text-decoration-none">Atr&aacute;s</a>
    <footer>
        <p>Aplicaci&oacute;n reservas de aulas y carritos</p>
        <p>Versi&oacute;n 1.2.1-beta</p>
    </footer>
</body>
</html>