<!-- This is a stable version of the code, 
    don't modify this HTML web page, otherwise,
    you can break it completely -->
<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de administraci&oacute;n de carritos de ordenadores</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</head>
<body>
    <h3 class="text-center pt-2 pb-2 text-wrap">Actualizar los datos del carrito de ordenadores</h3>
    <form th:action="@{/carritos_pcs/actualizar_carrito_pcs/{id}(id=${carrito_pcs.id})}" th:object="${carrito_pcs}" method="post">
        <div class="row g-3 align-items-center">
            <input type="hidden" id="id" th:field="*{id}">
            <div class="col-auto">
                <label for="numero_ordenadores" class="col-form-label">N&uacute;mero de ordenadores</label>
            </div>
            <div class="col-auto">
                <input type="number" id="numero_ordenadores" class="form-control" th:field="*{numeroPcs}">
            </div>
        </div>
        <br>
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label for="planta" class="col-form-label">Planta</label>
            </div>
            <div class="col-auto">
                <input type="number" id="plamta" class="form-control" th:field="*{planta}">
            </div>
        </div>
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label for="sistema_operativo" class="col-form-label">Sistema operativo</label>
            </div>
            <div class="col-auto">
                <input type="text" id="sistema_operativo" class="form-control" th:field="*{sistemaOperativo}">
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Actualizar datos del carrito de ordenadores</button>
    </form>
    <a th:href="@{/carritos_pcs}" class="text-decoration-none">Atr&aacute;s</a>
</body>
</html>