<!-- This is a stable version of the code, 
    don't modify this HTML web page, otherwise,
    you can break it completely -->
<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de administraci&oacute;n de carritos de ordenadores</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/navbar-fixed.css}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script>
        function carritoPCsQuitado()
        {
            window.alert("Se han quitado los datos del carrito de ordenadores seleccionado");
        }
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Reservas de aulas y carritos</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Pagina principal">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/inicio/}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/profesores/}">Profesores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/aulas_informatica/}">Aulas de inform&aacute;tica</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  active" aria-current="page" th:href="@{/carritos_pcs/}">Carritos de ordenadores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/carritos_tablets/}">Carritos de tablets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/reservas/}">Reservas</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <h3 class="text-center pt-2 pb-2 text-wrap">Lista de carritos de ordenadores</h3>
    <a th:href="@{/carritos_pcs/ver_formulario_nuevo_carrito_pcs}" class="btn btn-success">Añadir nuevo carrito de ordenadores</a>
    <a th:href="@{/inicio/}" class="btn btn-light">Atr&aacute;s</a>
    <a th:href="@{/json_code/carritos_pcs}" class="btn btn-light">Ver c&oacute;digo JSON</a>
    <div align="center">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>N&uacute;mero de ordenadores</th>
                    <th>Planta</th>
                    <th>Sistema operativo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="carrito_pcs: ${lista_carritos_pcs}">
                    <td th:text="${carrito_pcs.id}"></td>
                    <td th:text="${carrito_pcs.numeroPcs}"></td>
                    <td th:text="${carrito_pcs.planta}"></td>
                    <td th:text="${carrito_pcs.sistemaOperativo}"></td>
                    <td>
                        <a th:href="@{/carritos_pcs/ver_formulario_actualizar_carrito_pcs/{id}(id=${carrito_pcs.id})}"
                        class="btn btn-primary">Actualizar</a>
                    </td>
                    <td>
                        <a th:href="@{/carritos_pcs/quitar_carrito_pcs/{id}(id=${carrito_pcs.id})}"
                        class="btn btn-danger" onclick="carritoPCsQuitado()">Quitar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>