<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Informática</title>
</head>
<body>
    <h1 class="text-center pt-2 pb-2 bg-info text-wrap">Aula de informática</h1>
    <br>
    <h3 class="text-left ms-3">Reservas aulas</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID Aula</th>
                <th scope="col">Fecha</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" class="aula">10</th>
                <th class="aula">2023-01-20 10:59:59</th>
            </tr>
            <tr>
                <th scope="row" class="aula">30</th>
                <th class="aula">2023-01-24 10:59:59</th>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-lg btn-primary" onclick="reservasAulas()">M&aacute;s detalles</button>
    <hr>
    <h3 class="text-left ms-3">Reserva de carritos PC</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col" id="id">#</th>
                <th scope="col" id="carritoId">Carrito ID</th>
                <th scope="col" id="ubicacionPrestamo">Ubicaci&oacute;n del prestamo</th>
                <th scope="col" id="fechaReserva">Fecha de reserva</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" class="carroPC">1</th>
                <th class="carroPC">10</th>
                <th class="carroPC">Aula de inform&aacute;tica 2.13</th>
                <th class="carroPC">2023-01-25 10:59:59</th>
            </tr>
            <tr>
                <th scope="row" class="carroPC">2</th>
                <th class="carroPC">14</th>
                <th class="carroPC">Aula de inform&aacute;tica 2.11</th>
                <th class="carroPC">2023-01-26 10:59:59</th>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-lg btn-primary" onclick="reservasCarritosPC()">M&aacute;s detalles</button>
    <hr>
    <h3 class="text-left ms-3">Reserva de carritos tablets</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col" id="id">#</th>
                <th scope="col" id="carritoId">Carrito ID</th>
                <th scope="col" id="ubicacionPrestamo">Ubicaci&oacute;n del prestamo</th>
                <th scope="col" id="fechaReserva">Fecha de reserva</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" class="carroTablet">1</th>
                <th class="carroTablet">12</th>
                <th class="carroTablet">Aula de inform&aacute;tica 2.11</th>
                <th class="carroTablet">2023-01-27 10:59:59</th>
            </tr>
            <tr>
                <th scope="row" class="carroTablet">2</th>
                <th class="carroTablet">7</th>
                <th class="carroTablet">Aula de inform&aacute;tica 2.13</th>
                <th class="carroTablet">2023-01-30 10:59:59</th>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-lg btn-primary" onclick="reservasCarritosTablet()">M&aacute;s detalles</button>
    <hr>
</body>
<script>
    function reservasAulas() 
    {
        var idAula = "";
        var fecha = "";

        let elementos = document.getElementsByClassName("aula");
        for(let i = 0; i < elementos.length; i++)
        {
            if(idAula == "")
            {
                idAula += elementos[i].innerHTML;
            }
            i++;
            if(fecha == "")
            {
                fecha += elementos[i].innerHTML;
            }
            window.alert("ID Aula: "+idAula+"\nFecha: "+fecha);
            idAula = "";
            fecha = "";
        }
    }

    function reservasCarritosPC()
    {
        var id = "";
        var carritoId = "";
        var ubicacionPrestamo = "";
        var fechaReserva = "";

        let elementos = document.getElementsByClassName("carroPC");

        for(let i = 0; i < elementos.length; i++)
        {
            if(id == "")
            {
                id += elementos[i].innerHTML;
            }
            i++;
            if(carritoId == "")
            {
                carritoId += elementos[i].innerHTML;
            }
            i++;
            if(ubicacionPrestamo == "")
            {
                ubicacionPrestamo += elementos[i].innerHTML;
            }
            i++;
            if(fechaReserva == "")
            {
                fechaReserva += elementos[i].innerHTML;
            }
            i++;
            window.alert("Id: "+id+"\nId del carrito: "+carritoId+"\nUbicacion del prestamo: "+ubicacionPrestamo+"\nFecha de la reserva: "+fechaReserva);
            id = "";
            carritoId = "";
            ubicacionPrestamo = "";
            fechaReserva = "";
        }
    }

    function reservasCarritosTablet()
    {
        var id = "";
        var carritoId = "";
        var ubicacionPrestamo = "";
        var fechaReserva = "";

        let elementos = document.getElementsByClassName("carroTablet");

        for(let i = 0; i < elementos.length; i++)
        {
            if(id == "")
            {
                id += elementos[i].innerHTML;
            }
            i++;
            if(carritoId == "")
            {
                carritoId += elementos[i].innerHTML;
            }
            i++;
            if(ubicacionPrestamo == "")
            {
                ubicacionPrestamo += elementos[i].innerHTML;
            }
            i++;
            if(fechaReserva == "")
            {
                fechaReserva += elementos[i].innerHTML;
            }
            i++;
            window.alert("Id: "+id+"\nId del carrito: "+carritoId+"\nUbicacion del prestamo: "+ubicacionPrestamo+"\nFecha de la reserva: "+fechaReserva);
            id = "";
            carritoId = "";
            ubicacionPrestamo = "";
            fechaReserva = "";
        }
    }
</script>
</html>